.header, .block-1, .block-2, .block-3 {
    border: 2px solid black; 
}

.header {
    background-color: blueviolet;
    margin-bottom: 10px;
    height: 100px;
}
.block-1 {
    background-color: red;
    margin-right: 10px;
    height: 300px;
    width: 33%;
}
.block-2 {
    background-color: green;
    margin-right: 10px;
    height: 300px;
    width: 33%;
}
.block-3 {
    background-color: orange;
    height: 300px;
    width: 33%;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
}

